*{
    list-style-type: none;
}
.nav_container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgb(7, 53, 99);
    width: 100%;
}
.school_name{
    margin: auto 10px;
    margin-top: 10px;
}
.school_name h1{
    margin-bottom: 0;
    font-size: 30px;
}
.school_name p{
    margin-top: 0;
    font-size: 20px;
}
.nav_ul{
    margin: auto 180px;
}
.nav_ul ul{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.nav_ul ul li{
    margin: auto 20px;
    font-size: 20px;
    cursor: pointer;
}
.nav_ul ul li:hover{
    text-decoration:underline;
    color: darkgray;
}
.nav_register{
    display: flex;
    align-items: center;
}
.btn1{

    margin: auto 5px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
.btn2{
    padding: 8px 20px;
    border-radius: 10px;
    margin: auto 5px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: 0.5s ease;
}
.btn2:hover{
letter-spacing: 0.5px;
}