.footer_container{
    background-color: rgb(7, 53, 99);
    margin-top: 50px;
    height: 530px;
}
.footer_div_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color:aliceblue;
}
.footer_div_container p{
    font-size: 20px;
}
.footer_web_name p{
    max-width: 350px;
}
.footer_web_name h4{
    margin-top: 30px;
}
.footer_web_name{
    margin-top: -90px;
}
.footer_social{
    display: flex;
    align-items: center;
}
.footer_social li{
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.footer_social li:hover{
    color: darkgray;
}
.Popular_Courses p , .Quick_Links p{
cursor: pointer;
}
.Popular_Courses p:hover , .Quick_Links p:hover{
color: darkgray;
}
.fa-phone, .fa-envelope{
    color: darkgray;
    margin-right: 5px;
}
.footer_contact span:hover{
    color: darkgray;
}
.footer_contact p{
    margin-top: 30px;
}
.footer_contact input{
    width: 260px;
    height: 50px;
    z-index: -1;
    background-color: transparent;

    border-color:darkgray ;
}
.footer_contact input::placeholder{
    padding: 10px;
    font-size: 20px;
    color: darkgray;
}
.footer_contact button{
    position: absolute;
    border: none;
    background: none;
    font-size: 25px;
    z-index: 1;
    right: 80px;
    margin-top: 3px;
    color: aliceblue;
}
.footer_contact h2{
margin-bottom: 20px;
}
.footer_contact{
    margin-top: -65px;
}
.footer_copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.footer_copyright p{
    color: aliceblue;
    font-size: 20px;
}